@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    height: 100vh;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/background.jpg") ;
    background-size: cover;
    background-color: #cccccc;   
  }
.bg-container{
    
}

.rps{
    font-family: 'BioRhyme', serif;
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 40px;
    margin-bottom: 30px;
}

.win-number{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.choice-title{
    display: flex;
    justify-content: center;
    gap: 145px;
    font-size: 20px;
    font-style: italic;
    
}

.choices-display{
    display: flex;
    justify-content: center;
    gap: 75px;
    transition: all 5s;
}


.display{
    border: 5px solid rgb(17, 5, 7);
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 10px 20px;

}
.rock,
.paper,
.scissors{
    display: flex;
    justify-content: center;
    border: 5px solid black;
    padding: 20px;
    width: 150px;
    
    
    }

.img{
    width: 80px;
    height: 80px;
    transition: all 0.5s;
}

.img:hover {
    transform: scale(1.5);
  }
  
.noHover{
    pointer-events: none;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.results,
.restart{  
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 5px solid rgb(2, 3, 26);
    color: rgb(114, 36, 160);
    padding: 10px;
    width: 250px;
    height: 30px;
    margin: 40px auto;
    font-size: 20px;
    font-family: 'Yatra One', cursive;
}

h2{
    color: rgb(149, 16, 182);
}
h3{
    color: rgb(114, 36, 160);
    font-size: 25px;
}